.content__main {
  padding: 80px 0;
  width: 70%;

}

.content__main h1 {
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #FFD000;
  border-right: 1px solid #FFD000;
  border-bottom-right-radius: 20px ;
  padding-bottom: 8px;
  width: 40%;
  margin: 2rem;
}

.content__sub{
  display: flex;
  flex-direction: row;
  width: 80%;

  .triangle{
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-left: 26px solid #a54a4a;
    border-bottom: 19px solid transparent;
    margin-left: 10rem;
  }

  .letter{
    margin: 10px 10px 0px 10px;
  }

  .link__button{
    border:0.16em solid #FFD000;
    box-sizing: border-box;
    text-decoration:none;
    color:black;
    font-size:20px;
    margin-left: 50px;
    text-align:center;
    transition: all 0.15s;

    &:hover{
      background-color:#FFD000 ;
    }
  }


}

