
.main {
  background: #f4d03f;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  width:100%;
  box-shadow: rgb(50 50 93 / 1%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}
.words {
  color: #fbe880;
  font-size: 5rem;
  line-height: 1.5;
}

.words span {
  display: inline-block;
  animation: move 10s ease-in-out infinite;
  padding: 10px;
}

.main__button{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  position: absolute;
  margin-right: 60%;
}
.main__button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
}
.main__button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}
@media all and (max-width:30em){
 .main__button{
    display:block;
    margin:0.4em auto;
  }
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}
@for $item from 1 through 3 {
  .words span:nth-of-type(#{$item}){
    animation-delay:1s;
    padding-left: 20px;
  }
}

@for $item from 3 through 5 {
  .words span:nth-of-type(#{$item}){
    animation-delay:1.5s;
    padding: 20px;
  }
}

@for $item from 5 through 7 {
  .words span:nth-of-type(#{$item}){
    animation-delay:0.5s;

  }
}


@media (max-width: 600px) {
  .main {
    font-family: "Archivo Black", sans-serif;
    background: #f4d03f;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    width:100%;
  }
  .words {
    color: #f4d03f;
    font-size: 10px;
    line-height: 1.5;
  }

  .words span {
    font-size: 3rem;
    display: inline-block;
    animation: move 10s ease-in-out infinite;

  }



}



