.cardsNews-container {
  display: flex; }

.cardsNews-container__image {
  max-width: 30%;
  border-radius: 50%; }

.cardNews-title {
  text-align: center;
  font-size: 40px;
  border-bottom: 1px solid #FFD000;
  border-right: 1px solid #FFD000;
  border-bottom-right-radius: 20px;
  padding-bottom: 8px;
  width: 40%;
  color: white;
  margin: 200px 0 46px 0; }

.cardsNews-container__table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5rem 0rem 0rem 0rem;
  max-width: 1000px; }

.platform-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style-type: none;
  outline: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
  margin-top: 1px;
  margin-left: 1px;
  /*&:first-child {
    outline: 1px solid #fff;
    background: transparent;
    @media only screen and (max-width : 768px) {
      display: none;
    }
  }*/
  /*&:nth-child(3) {
    outline: 1px solid #30305b;
  }
  &:nth-child(-n+3) {
    padding: {
      top: 40px;
      bottom: 40px;
    }
  }*/ }
  .platform-cell .platform-title {
    margin-top: 0;
    margin-bottom: 3rem; }
  .platform-cell.cell-feature {
    text-align: left;
    font-size: 18px; }
  .platform-cell.plattform {
    color: #f4d03f; }
    .platform-cell.plattform .platform-btn {
      color: #f4d03f; }
      .platform-cell.plattform .platform-btn:hover {
        background-color: #f4d03f;
        border-color: #f4d03f;
        color: white; }
  .platform-cell.enterprise {
    background-color: #4f3e4a;
    color: #f4d03f; }
    .platform-cell.enterprise .platform-btn {
      color: #f4d03f; }
      .platform-cell.enterprise .platform-btn:hover {
        background-color: #4f3e4a;
        border-color: #4f3e4a;
        color: #f4d03f; }

/* Table columns
================================== */
@media only screen and (max-width: 768px) {
  .platform-cell.cell-feature {
    width: 100%;
    text-align: center; } }

.platform-btn {
  border: 2px solid;
  padding: .6rem .9rem .6rem .9rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem; }

@media (max-width: 580px) {
  .platform {
    max-width: 300px; } }
