@import '../../sassStyles/_mixins.scss';
@import '../../sassStyles/_variables.scss';


.cardsNews-container{
  display: flex;

}
.cardsNews-container__image{
  max-width:50%;
  border-radius: 50%;
  margin-left:10px;
  position: absolute;
  z-index: -1;
  @media only screen and (max-width :$mq-tablet-portrait) {
   display: none;
  }
}

.cardNews-title{
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #FFD000;
    border-right: 1px solid #FFD000;
    border-bottom-right-radius: 20px;
    padding-bottom: 8px;
    width: 40%;
    color: white;
    margin: 200px 0 46px 0;

}
.cardsNews-container__table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5rem 0 0 0;
  max-width: 1000px;
  box-shadow: rgba(50 50 93 / 1%) 0 13px 27px -5px, rgba(0 0 0 / 30%) 0 8px 16px -8px;
  position: relative;
}

.cardsNews-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style-type: none;
  outline: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
  margin: {
    top: 1px;
    left: 1px;
  }
   .cardsNews-title {
    margin: {
      top: 0;
      bottom: 3rem;
    }
  }
  &.cell-feature {
    text-align: left;
    font-size: 30px;
    color:white;
    font-family: inherit;
  }
  &.cardsNews {
    color: #f4d03f;
    .cardsNews-btn{
      color: #f4d03f;
      &:hover {
        background-color: #f4d03f;
        border-color: #f4d03f;
        color: white;
      }
    }
  }
  &.enterprise {
    background-color: #4f3e4a;
    color: #f4d03f;
    .cardsNews-btn {
      color:#f4d03f;
      &:hover {
        background-color:  #4f3e4a;
        border-color:  #4f3e4a;
        color: #f4d03f;
      }
    }
  }
}
.cardsNews-cell  {
  &.cardsNews {
    @media only screen and (max-width :$mq-tablet-portrait) {
      width: 100%;
      text-align: center;
    }
  }
}

.cardsNews-btn {
  border: 2px solid;
  padding: .6rem .9rem .6rem .9rem;
  font-weight: 400;
  text: {
    transform: uppercase;
    decoration: none;
  }
  @include transition(0.2s ease-in-out);
  @include border-radius(.3rem);
}


@media (max-width: $mq-mobile-landscape-max) {
  .cardsNews{
    max-width:100%;
  }
}
