

.wallPapper{
  box-sizing: content-box;
}
.wallPapper__flex-box{
  background-color:#aa4465;
  height: 400px;
  width: 628px;
  border-radius: 40%;
  margin: 10rem 0 0 40rem;
}

.wallPapper__small{
  animation: pulse 3s infinite;
  z-index:0;
  position:absolute;
  opacity:1;
}
.wallPapper__text{
  position: absolute;
  margin: 116px 170px;
  animation: pulse 3s infinite;
}
.wallPapper__text-par{
  position: absolute;
  margin:180px auto auto 20px;
  font-size: 25px;
}

.wallPapper__dot {
  height: 50px;
  width: 49px;
  background-color: #aa4465;
  border-radius: 50%;
  position: absolute;
  margin: 0 23px 0 77rem;
  animation: pulse 3s infinite;
}
.wallPapper__dot-small{
  background-color: #aa4465;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -1rem 0 0 80rem;
  animation: pulse 3s infinite;

}


@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity:1;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    opacity:0.7;
    box-shadow: 2px 0 0 2px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    opacity:0.5;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
